.logo_header {
  height: 140px;
  overflow: hidden;
  position: relative;
  z-index: 300;
}
.logo_header .container {
  position: relative;
  margin: 0 auto;
  width: 1200px;
  height: 140px;
}
.logo_header .logo {
  position: absolute;
  top: 32px;
  left: 10px;
  width: 345px;
}
.logo_header .logo a {
  display: block;
  float: left;
  height: 70px;
}
.logo_header .logo .name {
  width: 210px;
  height: 70px;
  display: block;
}
.logo_header .logo .name img {
  width: 210px;
  height: 70px;
}
.logo_header .logo .sub {
  float: left;
  margin: 10px;
  padding-left: 15px;
  height: 55px;
  border-left: 1px solid #e5e5e5;
  font-weight: bold;
  font-size: 24px;
  font-family: "\5FAE\8F6F\96C5\9ED1";
  line-height: 55px;
}
.logo_header .logo .sub .sub_name {
  color: #666;
  white-space: nowrap;
}
.logo_header .step {
  display: block;
  background-image: url("../img/index/step.png");
  height: 70px;
  position: absolute;
  right: 0;
  text-align: right;
  top: 32px;
  width: 425px;
  display: none;
}
.logo_header .s1 {
  background-position: -29px -14px;
}
.order_list .tabnav {
  height: 50px;
  border-bottom: 1px solid #0cb95f;
  line-height: 50px;
  background: #fff;
  min-width: 500px;
}
.order_list .tabnav .navul {
  float: left;
}
.order_list .tabnav .navul a {
  height: 50px;
  line-height: 50px;
  position: relative;
  display: block;
  padding: 0 25px;
  background: #f7f7f7;
  text-decoration: none;
  font-size: 14px;
  font-family: "\5FAE\8F6F\96C5\9ED1";
  text-align: center;
  float: left;
}
.order_list .tabnav .navul .cur {
  background: #0cb95f;
  color: #fff;
  border-color: #0cb95f;
}
.order_list table {
  width: 1200px;
  margin: 0 auto;
  border-collapse: collapse;
  border: 1px solid #e5e5e5;
  margin-bottom: 15px;
}
.order_list table td {
  padding: 15px 0;
  border-bottom: 1px dotted #ddd;
  line-height: 30px;
}
.order_list table .w1 {
  width: 50px;
}
.order_list table .w1 .ck {
  display: block;
  width: 16px;
  height: 16px;
  background-position: -41px -25px;
  position: relative;
  background-image: url("../img/index/icons.png");
  vertical-align: middle;
  left: 16px;
}
.order_list table .w1 .ck .checked {
  display: block;
  width: 16px;
  height: 16px;
  background-position: -60px -25px;
  position: absolute;
  left: 0;
  top: 0;
  background-image: url("../img/index/icons.png");
}
.order_list table .bat-opt {
  width: 380px;
}
.order_list table .w2 {
  width: 100px;
}
.order_list table .w2 a {
  border: 1px solid #e5e5e5;
  display: block;
  width: 80px;
  height: 80px;
  float: left;
}
.order_list table .w2 a img {
  width: 70px;
  height: 70px;
  margin: 5px;
}
.order_list table .w3 a {
  line-height: 20px;
}
.order_list table .w3 a .icon_rx_dw {
  display: inline-block;
  width: 32px;
  height: 18px;
  background: url(../img/index/icons.png) no-repeat;
  background-size: contain;
  background-position: center;
  vertical-align: middle;
  margin-right: 3px;
}
.order_list table .w3 a .fl {
  float: left;
}
.order_list table .w3 a strong {
  float: left;
  font-weight: normal;
  font-size: 12px;
  width: 440px;
}
.order_list table .w3 p {
  color: #999;
  line-height: 22px;
}
.order_list table .w4 {
  width: 100px;
  text-align: right;
  padding-right: 50px;
}
.order_list table .w4 .money2 {
  color: #333;
  font-style: normal;
  font-family: Arial;
}
.order_list table .w5 {
  width: 130px;
  text-align: center;
}
.order_list table .w5 .quantity {
  float: none;
  float: left;
  display: block;
  width: 90px;
  height: 22px;
  border: 1px solid #ccc;
  text-align: center;
  line-height: 22px;
}
.order_list table .w5 .quantity a {
  float: left;
  display: inline-block;
  width: 24px;
  height: 22px;
  background-color: #fff;
  background-image: url("../img/index/icons.png");
  text-decoration: none;
  line-height: 22px;
}
.order_list table .w5 .quantity .sub {
  background-position: -165px -79px;
}
.order_list table .w5 .quantity input {
  float: left;
  width: 40px;
  height: 22px;
  border: 0;
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
  text-align: center;
  font-family: Arial;
  line-height: 22px;
}
.order_list table .w5 .quantity .add {
  background-position: -192px -79px;
}
.order_list table .w6 {
  width: 100px;
  text-align: right;
  padding-right: 30px;
}
.order_list table .w6 .money {
  color: #e50000;
  font-style: normal;
  font-family: Arial;
}
.order_list table .w7 {
  width: 120px;
  text-align: right;
  padding-right: 30px;
}
.order_list table .w7 a {
  color: #999;
  margin-left: 15px;
}
.table03 {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #e5e5e5;
  margin-bottom: 15px;
  text-align: left;
}
.table03 .w2 {
  text-align: right;
  padding-right: 30px;
}
.table03 .w2 .fsize22 {
  font-size: 22px;
}
.table03 .w2 .money {
  color: #e50000;
  font-style: normal;
  font-family: Arial;
}
.table03 .w3 {
  width: 120px;
  padding: 0;
  border: 0;
  font-size: 16px;
}
.table03 .w3 .btn {
  display: block;
  background: #e50000;
  color: #fff;
  text-align: center;
}
.table03 .w3 .b2 {
  width: 120px;
  height: 60px;
  text-align: center;
  line-height: 60px;
}
.table03 td {
  line-height: 30px;
  padding: 10px 0;
}
.table03 .bat-opt {
  width: 380px;
}
.table03 .bat-opt .bat-opt-ck {
  padding: 10px 0;
  margin-right: 10px;
}
.table03 .bat-opt .bat-opt-ck .ck {
  margin-top: 7px;
  margin-right: 13px;
  margin-left: 17px;
  cursor: pointer;
  display: block;
  width: 16px;
  height: 16px;
  background-position: -41px -25px;
  vertical-align: middle;
  position: relative;
  background-image: url("../img/index/icons.png");
}
.table03 .bat-opt .bat-opt-ck .checked {
  display: block;
  width: 16px;
  height: 16px;
  background-position: -60px -25px;
  position: absolute;
  left: 0;
  top: 0;
  background-image: url("../img/index/icons.png");
}
.table03 .bat-opt .ck-txt {
  color: #333;
  font-size: 16px;
  font-family: 微软雅黑;
  cursor: pointer;
  padding: 0 6px;
}
.table03 .bat-opt-txt {
  display: block;
  padding: 10px 6px;
  cursor: pointer;
  margin: 0 10px;
  font-family: 微软雅黑;
  color: #333;
  font-size: 12px;
}
.table03 .nonexta {
  float: left;
  padding: 10px 20px;
  color: #0cb95f;
}
